*.o
*.so
*.ii
*.s
*.gcda
callgrind.out.*
perf.data*
Doxyfile

*.dat
*.svg
*.png
log_*

test
test-*

data/
data
ext
eval*/

testTT
testTT-*
*.txt
*.log
r
r-*
randomTree
randomTree-*
randomEval
randomEval-*
randomVerify
randomVerify-*
coding
coding-*
testR
testR-*
repair
repair-*
testnav
testnav-*
