*.o
*.so
*.ii
*.s
*.gcda
callgrind.out.*
perf.data*
Doxyfile

*.dat
*.svg
log_*

test
test-*

data/
ext
eval*

testTT
testTT-*
*.txt
*.log
r
r-*
random
random-*
randomEval
randomEval-*
randomVerify
randomVerify-*
coding
coding-*
